body {
  background-color: var(--white-bg-color);
  color: var(--text-black-color);
  font-family: var(--first-text);
  letter-spacing: 0.04em;
  font-size: 16px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: $desktop) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
<<<<<<< Updated upstream
.main-btn {
  min-width: 176px;
  height: 44px;
  border-radius: 22px;
  @include flexCentered;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 1.31;
  }
  transition: background-color var(--btn-trans-duration) var(--btn-trans-timing);
  svg {
    fill: currentColor;
  }
  span {
    margin-left: 13.62px;
  }
}
=======
>>>>>>> Stashed changes
