body {
  background-color: var(--white-bg-color);
  color: var(--text-black-color);
  font-family: var(--first-text);
  letter-spacing: 0.04em;
  font-size: 16px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
@mixin flexCentered {
  display: flex;
  align-items: center;
  justify-content: center;
}

$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;