:root {
  --first-text: "Dm Sans" , sans-serif;
  --second-text: "Titan One" , sans-serif;

  --accent-color: #d41443;
  --mobile-menu-color: #E17992;
  --hero-bg-color: #ffb8ca;
  --white-bg-color: #ffffff;
  --label-color: #ffa5ba;
  --products-pink-bg: #FFB8CA;
  --products-brown-bg: #F0D1A5;
  --products-green-bg: #C2E297;
  --light-pink-bg: #FFF5F6;
  --reviews-bg-color: #FAFAFA;
  --text-white-color: #ffffff;
  --text-black-color: #000000;
  --text-grey-color: #907E82;
  --button-hover-color: #ECEBEB;
  --icons-bg-color: #FEA5BB;

  --border-set: border-bottom: 1px solid #E1E1E1;

  // Button animation:
  --btn-trans-duration: 250ms;
  --btn-trans-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

// Device sizes:
$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;