<section class="about" id="how">
  <div class="about__container">
    <p class="about__label">tradition and love</p>
    <h2 class="about__title">how it's made?</h2>
    <div class="about__flex-wrap">
      <div class="about__img"></div>
      <div class="about__flex-block">
        <p class="about__resume">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__description">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
          <br />
          <br />
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button type="button" class="js-open-modal about__btn" data-modal="3">
          Read more
          <span
            ><svg width="8" height="8">
              <use href="./images/sprite.svg#icon-small-arow"></use>
            </svg>
          </span>
        </button>
      </div>
    </div>

    <!-- --------------------------READ MORE MODAL-------------------------- -->

    <div class="modal about--modal" data-modal="3">
      <svg
        class="modal__cross modal__cross--cow js-modal-close"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
        />
      </svg>
      <p class="about__label--modal">What's our secret?</p>
      <h2 class="about__title--modal">
        Our cows are the happiest cows in the world!
      </h2>
      <p class="about__text--modal">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eos
        amet magnam. Optio dolores quibusdam facere, corporis deserunt vero vel
        eligendi error unde, blanditiis voluptatem, nulla quidem nemo nobis
        excepturi quasi. Dignissimos, ex ipsam necessitatibus magni, aperiam
        repellendus maxime libero itaque harum nostrum consectetur ipsa quod
        repellat quisquam eius animi consequuntur corporis, veniam magnam est
        cumque error atque? Omnis illo perspiciatis pariatur necessitatibus
        explicabo ullam a harum quasi, ipsa rerum dicta nesciunt ratione
        excepturi repellat porro quae accusamus quos id obcaecati expedita
        itaque consequuntur maxime.<br /><br />Id, sint ipsum recusandae ipsa
        quaerat dolores at ut quod ratione temporibus corrupti distinctio vitae
        neque reiciendis. Quos, quae atque deserunt maxime quasi possimus fugiat
        commodi voluptates corporis quo consectetur iste illo aliquid tempore
        aperiam accusamus, sed aspernatur? Dignissimos quas optio voluptatibus
        perferendis excepturi at exercitationem sit obcaecati ab minima nostrum
        molestiae dolorem magnam ullam, mollitia illum quis odit doloribus
        laborum in sapiente illo nulla. Sequi perferendis adipisci mollitia odio
        sit!
      </p>
      <p class="about__slogan--modal">Viva la cow!</p>
      <div class="about__img--modal"></div>
    </div>
  </div>
</section>
