<section class="advantages">
  <div class="advantages__container" id="about">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages-list__item--first-item advantages-list__item">
        <h3 class="advantages-list-item__number">721</h3>
        <p class="advantages-list-item__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item--second-item advantages-list__item">
        <h3 class="advantages-list-item__number">16kg</h3>
        <p class="advantages-list-item__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item--third-item advantages-list__item">
        <h3 class="advantages-list-item__number">84</h3>
        <p class="advantages-list-item__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
