<section class="contacts">
  <div class="container__contacts">
    <h2 class="contacts__title visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__title-text contacts__title-text--brown">CAFE</p>
        <div class="contacts-card">
          <h3 class="contacts-card__title">Chicago</h3>
          <p class="contacts-card__bottom-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="contacts-card__list">
            <li class="contacts-card__item">
              <p class="contacts-card__work-day">Monday - Friday</p>
              <p class="contacts-card__work-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-card__item">
              <p class="contacts-card__work-day">Saturday - Sunday</p>
              <p class="contacts-card__work-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="location-contacts">
            <li class="location-contacts__item">
              <a href="tel:+610383766284" class="location-contacts__link">
                +61(0) 383 766 284</a
              >
            </li>
            <li class="location-contacts__item">
              <a
                href="mailto:noreply@envato.com"
                class="location-contacts__link"
              >
                noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__item">
        <p class="contacts__title-text contacts__title-text--green">
          FOOD TRUCK
        </p>
        <div class="contacts-card">
          <h3 class="contacts-card__title">Los Angeles</h3>
          <p class="contacts-card__bottom-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="contacts-card__list">
            <li class="contacts-card__item">
              <p class="contacts-card__work-day">Monday - Friday</p>
              <p class="contacts-card__work-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-card__item">
              <p class="contacts-card__work-day">Saturday - Sunday</p>
              <p class="contacts-card__work-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="location-contacts">
            <li class="location-contacts__item">
              <a href="tel:+610383766284" class="location-contacts__link">
                +61(0) 383 766 284</a
              >
            </li>
            <li class="location-contacts__item">
              <a
                href="mailto:noreply@envato.com"
                class="location-contacts__link"
              >
                noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__item">
        <p class="contacts__title-text contacts__title-text--brown">CAFE</p>
        <div class="contacts-card">
          <h3 class="contacts-card__title">New York</h3>
          <p class="contacts-card__bottom-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="contacts-card__list">
            <li class="contacts-card__item">
              <p class="contacts-card__work-day">Monday - Friday</p>
              <p class="contacts-card__work-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-card__item">
              <p class="contacts-card__work-day">Saturday - Sunday</p>
              <p class="contacts-card__work-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="location-contacts">
            <li class="location-contacts__item">
              <a href="tel:+610383766284" class="location-contacts__link">
                +61(0) 383 766 284</a
              >
            </li>
            <li class="location-contacts__item">
              <a
                href="mailto:noreply@envato.com"
                class="location-contacts__link"
              >
                noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="contacts-buttons">
      <li class="contacts-buttons__item">
        <button
          class="js-open-modal button contacts-btn contacts-buttons__btn-location"
          data-modal="1"
        >
          Our Locations
          <span class="contacts-buttons__icon">
            <svg width="8" height="8">
              <use href="./images/sprite.svg#icon-small-arow"></use>
            </svg>
          </span>
        </button>
      </li>
      <li class="contacts-buttons__item">
        <button
          class="js-open-modal button contacts-btn contacts-buttons__btn-franchise"
          data-modal="2"
        >
          Franchise
          <span class="contacts-buttons__icon">
            <svg width="8" height="8">
              <use href="./images/sprite.svg#icon-small-arow"></use>
            </svg>
          </span>
        </button>
      </li>
    </ul>

    <div class="modal modal__contacts" data-modal="1">
      <svg
        class="modal__cross js-modal-close"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
        />
      </svg>
      <p class="modal__title contacts__modal-title">Our Locations</p>
      <div class="modal__map-container">
        <iframe
          src="https://www.google.com/maps/d/u/0/embed?mid=1iATDu0anOQQzxjg5dpZGB0x5UCefMso&ehbc=2E312F"
          width="640"
          height="480"
        ></iframe>
      </div>
    </div>

    <!-- --------------------------FRANCHISE MODAL-------------------------- -->
    <div class="modal modal--franchise" data-modal="2">
      <svg
        class="modal__cross js-modal-close"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
        />
      </svg>
      <p class="modal__title--franchise">
        If you want to become<br />part of our family,<br />
        please, fill the form below
      </p>
      <form autocomplete="off">
        <div class="modal__form-field--franchise">
          <label class="modal__field-name--franchise" for="name"
            >Your Name</label
          >
          <div class="modal__input-wrap--franchise">
            <input
              class="modal__form-input--franchise"
              type="text"
              name="name"
              id="name"
              placeholder="Jane"
              required
            />
            <svg class="modal__input-icon--franchise" width="18" height="18">
              <use href="./images/sprite.svg#icon-person-name"></use>
            </svg>
          </div>
        </div>
        <div class="modal__form-field--franchise">
          <label class="modal__field-name--franchise" for="surname"
            >Your Family Name</label
          >
          <div class="modal__input-wrap--franchise">
            <input
              class="modal__form-input--franchise"
              type="text"
              name="surname"
              id="surname"
              placeholder="Doe"
              required
            />
            <svg class="modal__input-icon--franchise" width="18" height="18">
              <use href="./images/sprite.svg#icon-person-name"></use>
            </svg>
          </div>
        </div>
        <div class="modal__form-field--franchise">
          <label class="modal__field-name--franchise" for="tel"
            >Your Phone No.</label
          >
          <div class="modal__input-wrap--franchise">
            <input
              class="modal__form-input--franchise"
              type="tel"
              name="tel"
              id="tel"
              placeholder="+38 044 111 11 11"
              required
            />
            <svg class="modal__input-icon--franchise" width="18" height="18">
              <use href="./images/sprite.svg#icon-person-phone"></use>
            </svg>
          </div>
        </div>
        <div class="modal__form-field--franchise">
          <label class="modal__field-name--franchise" for="email"
            >Your E-mail Address</label
          >
          <div class="modal__input-wrap--franchise">
            <input
              class="modal__form-input--franchise"
              type="email"
              name="email"
              id="email"
              placeholder="example@domain.com"
              required
            />
            <svg class="modal__input-icon--franchise" width="18" height="18">
              <use href="./images/sprite.svg#icon-person-email"></use>
            </svg>
          </div>
        </div>
        <div>
          <input
            class="modal__modal-check--franchise visually-hidden"
            type="checkbox"
            name="agree"
            value="true"
            id="agree"
            required
          />
          <label class="modal__agree-text--franchise" for="agree">
            <span class="modal__check-block--franchise"
              ><svg class="modal__check-icon--franchise" width="15" height="14">
                <use href="./images/sprite.svg#icon-check"></use>
              </svg>
            </span>
            <span
              >I've read
              <a class="modal__agreement--franchise" href=""
                >Franchise Agreement</a
              ></span
            >
          </label>
        </div>
        <button class="modal__send-btn--franchise">Send</button>
      </form>
    </div>
  </div>
</section>
