<section class="reviews-section">
  <div class="reviews-container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="reviews">
            <img
              src="./images/mob/review1-min.jpg"
              alt="Emily"
              class="reviews__img"
            />
            <div class="reviews__box">
              <p class="reviews__text">
                <span class="reviews__text-span">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor
                  risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                  congue. Lorem ipsum primis in nibh vel risus.</span
                >
              </p>
            </div>
            <p class="reviews-name">Emily, Los Angeles</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews">
            <img
              src="./images/mob/review1-min.jpg"
              alt="Emily"
              class="reviews__img"
            />
            <div class="reviews__box">
              <p class="reviews__text">
                <span class="reviews__text-span">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor
                  risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                  congue. Lorem ipsum primis in nibh vel risus.</span
                >
              </p>
            </div>
            <p class="reviews-name">Emily, Los Angeles</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews">
            <img
              src="./images/mob/review1-min.jpg"
              alt="Emily"
              class="reviews__img"
            />
            <div class="reviews__box">
              <p class="reviews__text">
                <span class="reviews__text-span">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor
                  risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                  congue. Lorem ipsum primis in nibh vel risus.</span
                >
              </p>
            </div>
            <p class="reviews-name">Emily, Los Angeles</p>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
