<!-- <section class="reviews-section">
  <div class="reviews-container">
    <div class="swiper swiper-new">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="./images/mob/review1-min.jpg"
            alt="Emily"
            class="review__img"
          />
          <div class="review__bg">
            <div class="beta">
              <p class="review__text">
                <span class="review__text-span">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor
                  risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                  congue. Lorem ipsum primis in nibh vel risus.</span
                >
              </p>
            </div>
          </div>
          <p class="review__name">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <img
            src="./images/mob/review2-min.jpg"
            alt="Luisa"
            class="review__img"
          />
          <div class="review__bg">
            <div class="beta">
              <p class="review__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="review__name">Kate, Chicago</p>
        </div>
        <div class="swiper-slide">
          <img
            src="./images/mob/review3-min.jpg"
            alt="Tifany"
            class="review__img"
          />
          <div class="review__bg">
            <div class="beta">
              <p class="review__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="review__name">Luisa, Los Angeles</p>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section> -->
