<!-- Footer -->
<footer class="footer">
  <div class="footer__content">
    <div class="footer__title">
      <p>
        homemade ice cream made
        <span class="footer__title-accent">with passion</span>
      </p>
    </div>
    <div class="footer__social-media">
      <ul class="footer__social-list">
        <li class="footer__social-item">
          <a
            href="https://github.com/"
            target="_blanc"
            class="footer__social-link"
          >
            <svg class="footer-social__icon" width="18.82px" height="18.82px">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a
            href="https://web.telegram.org/"
            target="_blanc"
            class="footer__social-link"
          >
            <svg class="footer-social__icon" width="18.82px" height="18.82px">
              <use href="./images/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a
            href="https://www.facebook.com/"
            target="_blanc"
            class="footer__social-link"
          >
            <svg class="footer-social__icon" width="18.82px" height="18.82px">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <a href="tel:+61(0)383766284" class="footer__tel-link"
      >Feel free to contact<span class="footer__tel-link-accent"
        >+61 (0) 383 766 284</span
      ></a
    >
    <div class="footer__rights-border">
      <a href="#" target="_blanc" class="footer__rights"
      >&#169 2022 - IceCream. All Rights Reserved.</a
      >
    </div>
  </div>
</footer>
