<!-- Footer -->
<footer class="footer">
  <div class="footer__content">
    <div class="footer__flex-wrap">
      <div>
        <p class="footer__main-text">homemade ice cream made</p>
        <p class="footer__accent-text">with passion</p>
      </div>
      <div class="footer__social-media">
        <ul class="footer__social-list">
          <li class="footer__social-item">
            <a
              href="https://github.com/"
              target="blanc"
              class="footer__social-link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a
              href="https://web.telegram.org/"
              target="blanc"
              class="footer__social-link"
            >
              <svg width="20.4" height="15.87">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a
              href="https://www.facebook.com/"
              target="blanc"
              class="footer__social-link"
            >
              <svg width="9.35" height="20.4">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <a href="tel:+61(0)383766284" class="footer__tel-link"
          >Feel free to contact<span class="footer__tel-link-accent"
            >+61 (0) 383 766 284</span
          ></a
        >
      </div>
    </div>
    <p class="footer__copyright">
      &#169; 2022 - IceCream. All Rights Reserved.
    </p>
    <div class="footer-border"></div>
  </div>
</footer>
