<section class="gallery">
  <div class="gallery__container">
    <h2 class="gallery__title">Gallery</h2>
    <ul class="gallery__list">
      <li class="gallery__item gallery__item--1">
        <img
          class="gallery__img"
          srcset="
            ./images/desk/gallery-1-min.jpg        138w,
            ./images/tab/tab-gallery-1-min.jpg     105w,
            ./images/mob/mob-gallery-1-min.jpg      44w,
            ./images/desk/gallery-1-@2x-min.jpg    276w,
            ./images/tab/tab-gallery-1-@2x-min.jpg 210w,
            ./images/mob/mob-gallery-1-@2x-min.jpg  88w
          "
          sizes="(min-width: 1200px) 138px, (min-width: 768px) 105px, 44px"
          src="./images/desk/gallery-1-min.jpg"
          alt="green ice cream"
        />
      </li>
      <li class="gallery__item gallery__item--2">
        <img
          class="gallery__img"
          srcset="
            ./images/desk/gallery-2-min.jpg        138w,
            ./images/tab/tab-gallery-2-min.jpg     105w,
            ./images/mob/mob-gallery-2-min.jpg      44w,
            ./images/desk/gallery-2-@2x-min.jpg    276w,
            ./images/tab/tab-gallery-2-@2x-min.jpg 210w,
            ./images/mob/mob-gallery-2-@2x-min.jpg  88w
          "
          sizes="(min-width: 1200px) 138px, (min-width: 768px) 105px, 44px"
          src="./images/desk/gallery-2-min.jpg"
          alt="ice cream cone"
        />
      </li>
      <li class="gallery__item gallery__item--3">
        <img
          class="gallery__img"
          srcset="
            ./images/desk/gallery-3-min.jpg        138w,
            ./images/tab/tab-gallery-3-min.jpg     105w,
            ./images/mob/mob-gallery-3-min.jpg      44w,
            ./images/desk/gallery-3-@2x-min.jpg    276w,
            ./images/tab/tab-gallery-3-@2x-min.jpg 210w,
            ./images/mob/mob-gallery-3-@2x-min.jpg  88w
          "
          sizes="(min-width: 1200px) 138px, (min-width: 768px) 105px, 44px"
          src="./images/desk/gallery-3-min.jpg"
          alt="pink ice cream"
        />
      </li>
      <li class="gallery__item gallery__item--4">
        <img
          class="gallery__img"
          srcset="
            ./images/desk/gallery-4-min.jpg        138w,
            ./images/tab/tab-gallery-4-min.jpg     105w,
            ./images/mob/mob-gallery-4-min.jpg      44w,
            ./images/desk/gallery-4-@2x-min.jpg    276w,
            ./images/tab/tab-gallery-4-@2x-min.jpg 210w,
            ./images/mob/mob-gallery-4-@2x-min.jpg  88w
          "
          sizes="(min-width: 1200px) 138px, (min-width: 768px) 105px, 44px"
          src="./images/desk/gallery-4-min.jpg"
          alt="a lot of ice cream"
        />
      </li>
      <li class="gallery__item gallery__item--5">
        <img
          class="gallery__img"
          srcset="
            ./images/desk/gallery-5-min.jpg        138w,
            ./images/tab/tab-gallery-5-min.jpg     105w,
            ./images/mob/mob-gallery-5-min.jpg      44w,
            ./images/desk/gallery-5-@2x-min.jpg    276w,
            ./images/tab/tab-gallery-5-@2x-min.jpg 210w,
            ./images/mob/mob-gallery-5-@2x-min.jpg  88w
          "
          sizes="(min-width: 1200px) 138px, (min-width: 768px) 105px, 44px"
          src="./images/desk/gallery-5-min.jpg"
          alt="girl with ice cream"
        />
      </li>
      <li class="gallery__item gallery__item--6">
        <img
          class="gallery__img"
          srcset="
            ./images/desk/gallery-6-min.jpg        138w,
            ./images/tab/tab-gallery-6-min.jpg     105w,
            ./images/mob/mob-gallery-6-min.jpg      44w,
            ./images/desk/gallery-6-@2x-min.jpg    276w,
            ./images/tab/tab-gallery-6-@2x-min.jpg 210w,
            ./images/mob/mob-gallery-6-@2x-min.jpg  88w
          "
          sizes="(min-width: 1200px) 138px, (min-width: 768px) 105px, 44px"
          src="./images/desk/gallery-6-min.jpg"
          alt="berry ice cream"
        />
      </li>
      <li class="gallery__item gallery__item--7">
        <img
          class="gallery__img"
          srcset="
            ./images/desk/gallery-7-min.jpg        138w,
            ./images/tab/tab-gallery-7-min.jpg     105w,
            ./images/mob/mob-gallery-7-min.jpg      44w,
            ./images/desk/gallery-7-@2x-min.jpg    276w,
            ./images/tab/tab-gallery-7-@2x-min.jpg 210w,
            ./images/mob/mob-gallery-7-@2x-min.jpg  88w
          "
          sizes="(min-width: 1200px) 138px, (min-width: 768px) 105px, 44px"
          src="./images/desk/gallery-7-min.jpg"
          alt="red ice cream"
        />
      </li>
      <li class="gallery__item gallery__item--8">
        <img
          class="gallery__img"
          srcset="
            ./images/desk/gallery-8-min.jpg        138w,
            ./images/tab/tab-gallery-8-min.jpg     105w,
            ./images/mob/mob-gallery-8-min.jpg      44w,
            ./images/desk/gallery-8-@2x-min.jpg    276w,
            ./images/tab/tab-gallery-8-@2x-min.jpg 210w,
            ./images/mob/mob-gallery-8-@2x-min.jpg  88w
          "
          sizes="(min-width: 1200px) 138px, (min-width: 768px) 105px, 44px"
          src="./images/desk/gallery-8-min.jpg"
          alt="dog and ice cream"
        />
      </li>
      <li class="gallery__item gallery__item--9">
        <img
          class="gallery__img"
          srcset="
            ./images/desk/gallery-9-min.jpg        138w,
            ./images/tab/tab-gallery-9-min.jpg     105w,
            ./images/mob/mob-gallery-9-min.jpg      44w,
            ./images/desk/gallery-9-@2x-min.jpg    276w,
            ./images/tab/tab-gallery-9-@2x-min.jpg 210w,
            ./images/mob/mob-gallery-9-@2x-min.jpg  88w
          "
          sizes="(min-width: 1200px) 138px, (min-width: 768px) 105px, 44px"
          src="./images/desk/gallery-9-min.jpg"
          alt="chocolate ice cream"
        />
      </li>
      <li class="gallery__item gallery__item--10">
        <img
          class="gallery__img"
          srcset="
            ./images/desk/gallery-10-min.jpg        138w,
            ./images/tab/tab-gallery-10-min.jpg     105w,
            ./images/mob/mob-gallery-10-min.jpg      44w,
            ./images/desk/gallery-10-@2x-min.jpg    276w,
            ./images/tab/tab-gallery-10-@2x-min.jpg 210w,
            ./images/mob/mob-gallery-10-@2x-min.jpg  88w
          "
          sizes="(min-width: 1200px) 138px, (min-width: 768px) 105px, 44px"
          src="./images/desk/gallery-10-min.jpg"
          alt="ice cream cake"
        />
      </li>
    </ul>
  </div>
</section>
