<header class="header-hero">
  <div class="container">
    <svg class="menu__open" width="199" height="50">
      <use href="./images/sprite.svg#icon-logo"></use>
    </svg>
    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a href="" class="nav__link link current">Home</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link link">About us</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link link">How it's made?</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link link">Our products </a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link link">Contact </a>
        </li>
      </ul>
    </nav>

    <button
      type="button"
      class="menu__open-btn js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      </button>
  </div>
</header>
  <div class="hero__container container">
      <h1 class="hero__title">ice cream
made with
passion</h1>
      <button class="button hero__btn" data-modal-open>Products</button>
      <button class="button hero__btn" data-modal-open>How it's made?</button>
    </div>
  </section>
</main>
