<section class="header-hero">
  <div class="container__header-hero">
    <div class="container__header">
      <svg class="menu__open" width="199" height="50">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
      <nav class="nav">
        <ul class="nav__list list">
          <li class="nav__item">
            <a href="" class="nav__link link current">Home</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link link">About us</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link link">How it's made?</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link link">Our products </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link link">Contact </a>
          </li>
        </ul>
      </nav>

      <button
        type="button"
        class="menu__open-btn js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      ></button>
    </div>

    <div class="container-hero">
      <div class="hero__container">
        <div class="hero__milk">
          <picture>
            <source
              srcset="
                ./images/desk/hero1-min.png    1x,
                ./images/desk/hero1@2x-min.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/tab/tab-hero1-min.png    1x,
                ./images/tab/tab-hero1@2x-min.png 2x
              "
              media="(min-width:468px)"
            />

            <img
              src="./images/desk/hero1-min.png"
              alt="milk"
              width="213"
              height="216"
            />
          </picture>
        </div>

        <div class="hero__ice">
          <picture class="hero__ice-bg">
            <source
              srcset="
                ./images/desk/hero2-min.png    1x,
                ./images/desk/hero2@2x-min.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/tab/tab-hero2-min.png    1x,
                ./images/tab/tab-hero2@2x-min.png 2x
              "
              media="(min-width:468px)"
            />
            <source
              srcset="
                ./images/mob/mob-hero2-min.png    1x,
                ./images/mob/mob-hero2@2x-min.png 2x
              "
              media="(min-width:320px)"
            />
            <img
              src="./images/desk/hero2-min.png"
              alt="icecream"
              width="534"
              height="534"
            />
          </picture>
          <picture class="hero__ice-cream">
            <source
              srcset="
                ./images/desk/hero3-min.png    1x,
                ./images/desk/hero3@2x-min.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/tab/tab-hero3-min.png    1x,
                ./images/tab/tab-hero3@2x-min.png 2x
              "
              media="(min-width:468px)"
            />
            <img
              src="./images/desk/hero3-min.png"
              alt="icecream"
              width="236"
              height="557"
            />
          </picture>
        </div>

        <div class="hero__girl">
          <picture>
            <source
              srcset="
                ./images/desk/hero4-min.png    1x,
                ./images/desk/hero4@2x-min.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/tab/tab-hero4-min.png    1x,
                ./images/tab/tab-hero4@2x-min.png 2x
              "
              media="(min-width:468px)"
            />

            <img
              src="./images/desk/hero4-min.png"
              alt="girl eat icecream"
              width="304"
              height="241"
            />
          </picture>
        </div>

        <div class="hero-info">
          <div class="hero-lable">
            <h1 class="hero-lable__title">
              ice cream
              <pre
                class="hero-lable__pre"
              ><span class="hero-lable__title-text">made with </span></pre>
              <pre
                class="hero-lable__pre"
              ><span class="hero-lable__title-accent">passion</span></pre>
            </h1>
          </div>
          <ul class="hero__list">
            <li class="hero__item-cafes">
              <h3 class="hero__item-number">16</h3>
              <p class="hero__item-text">cafes</p>
            </li>
            <li class="hero__item-trucks">
              <h3 class="hero__item-number">23</h3>
              <p class="hero__item-text">food trucks</p>
            </li>
          </ul>
          <ul class="hero-btn__list">
            <li class="hero-btn__item">
              <a class="hero-btn__link" href="#about"
                ><button class="button hero__btn">Products</button></a
              >
            </li>
            <li class="hero-btn__item">
              <a class="hero-btn__link" href="#about"
                ><button class="button hero__btn">How it's made?</button></a
              >
            </li>
          </ul>

          <div class="hero__about">
            <p class="hero__about-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <button class="button hero__about-btn">
              <svg class="" width="20" height="12">
                <use href="./images/sprite.svg#icon-right-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
