<section class="header-hero">
  <div class="container__header-hero" id="home">
    <div class="overlay js-overlay-modal"></div>
    <div class="container__header">
      <div class="header-logo">
        <svg class="header-logo__icon" width="199" height="50">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </div>
      <nav class="nav">
        <ul class="nav__list list">
          <li class="nav__item">
            <a href="#home" class="nav__link link current">Home</a>
          </li>
          <li class="nav__item">
            <a href="#about" class="nav__link link">About us</a>
          </li>
          <li class="nav__item">
            <a href="#how" class="nav__link link">How it's made?</a>
          </li>
          <li class="nav__item">
            <a href="#products" class="nav__link link">Our products </a>
          </li>
          <li class="nav__item">
            <a href="#contact" class="nav__link link">Contact </a>
          </li>
        </ul>

        <div class="nav-btn">
          <button type="button" class="hero-btn__menu">
            <svg
              class="hero-btn__svg js-open-menu"
              width="20"
              height="12"
              aria-label="Переключатель мобильного меню"
            >
              <use href="./images/sprite.svg#icon-burger"></use>
            </svg>
          </button>

          <button
            class="js-open-modal hero__btn light-btn nav-btn__buy"
            data-modal="4"
          >
            Buy now
            <svg class="hero__btn-svg" width="20" height="20">
              <use href="./images/sprite.svg#icon-small-arow"></use>
            </svg>
          </button>
        </div>
      </nav>
    </div>

    <div class="hero__milk">
      <picture>
        <source
          srcset="
            ./images/desk/hero1-min.png    1x,
            ./images/desk/hero1@2x-min.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/tab/tab-hero1-min.png    1x,
            ./images/tab/tab-hero1@2x-min.png 2x
          "
          media="(min-width:768px)"
        />

        <img
          src="./images/desk/hero1-min.png"
          alt="milk"
          width="213"
          height="216"
        />
      </picture>
    </div>

    <div class="hero__ice">
      <picture class="hero__ice-bg">
        <source
          srcset="
            ./images/desk/hero2-min.png    1x,
            ./images/desk/hero2@2x-min.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/tab/tab-hero2-min.png    1x,
            ./images/tab/tab-hero2@2x-min.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/mob/mob-hero2-min.png    1x,
            ./images/mob/mob-hero2@2x-min.png 2x
          "
          media="(min-width:320px)"
        />
        <img
          src="./images/desk/hero2-min.png"
          alt="icecream"
          width="534"
          height="534"
        />
      </picture>
      <picture class="hero__ice-cream">
        <source
          srcset="
            ./images/desk/hero3-min.png    1x,
            ./images/desk/hero3@2x-min.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/tab/tab-hero3-min.png    1x,
            ./images/tab/tab-hero3@2x-min.png 2x
          "
          media="(min-width:768px)"
        />
        <img
          src="./images/desk/hero3-min.png"
          alt="icecream"
          width="236"
          height="557"
        />
      </picture>
    </div>

    <div class="hero__girl">
      <picture>
        <source
          srcset="
            ./images/desk/hero4-min.png    1x,
            ./images/desk/hero4@2x-min.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/tab/tab-hero4-min.png    1x,
            ./images/tab/tab-hero4@2x-min.png 2x
          "
          media="(min-width:468px)"
        />

        <img
          src="./images/desk/hero4-min.png"
          alt="girl eat icecream"
          width="304"
          height="241"
        />
      </picture>
    </div>

    <div class="hero-info">
      <div class="hero-lable">
        <h1 class="hero-lable__title">
          ice cream
          <pre
            class="hero-lable__pre"
          ><span class="hero-lable__title-text">made with </span></pre>
          <pre
            class="hero-lable__pre"
          ><span class="hero-lable__title-accent">passion</span></pre>
        </h1>
      </div>

      <ul class="hero-btn__list">
        <li class="hero-btn__item">
          <a class="hero-btn__link" href="#products">
            <span class="dark-btn hero-btn__height hero__btn">Products </span>
          </a>
        </li>
        <li class="hero-btn__item">
          <a class="hero-btn__link" href="#how">
            <span class="light-btn hero-btn__height hero__btn"
              >How it's made?
            </span>
          </a>
        </li>
      </ul>

      <ul class="hero__list">
        <li class="hero__item-cafes">
          <h3 class="hero__item-number">16</h3>

          <p class="hero__item-text">cafes</p>
        </li>
        <li class="hero__item-cafes">
          <h3 class="hero__item-number">23</h3>

          <p class="hero__item-text">food trucks</p>
        </li>
      </ul>
      <svg class="hero__circle-cafes" width="30" height="30">
        <use href="./images/sprite.svg#icon-circle"></use>
      </svg>
      <svg class="hero__circle-trucks" width="30" height="30">
        <use href="./images/sprite.svg#icon-circle"></use>
      </svg>

      <div class="hero__about">
        <p class="hero__about-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="hero__about-btn">
          <svg class="hero__about-svg" width="10" height="8">
            <use href="./images/sprite.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>

    <!-- Modal -->
    <div class="backdrop js-menu-container">
      <div class="modal-block">
        <button
          type="button"
          class="modal-btn-close js-close-menu"
          aria-expanded="false"
        >
          <svg
            class="modal-btn-close-icon"
            width="14"
            height="14"
            aria-label="Переключатель мобильного меню"
          >
            <use href="./images/sprite.svg#icon-close"></use>
          </svg>
        </button>

        <button class="js-open-modal modal-btn-buy" data-modal="4">
          Buy now
          <svg class="modal-btn-buy-icon" width="20" height="20">
            <use href="./images/sprite.svg#icon-small-arow"></use>
          </svg>
        </button>
      </div>

      <ul class="header-modal-list">
        <li class="modal-list">
          <a class="header-modal-link" href="#home"> Home </a>
        </li>
        <li class="modal-list">
          <a class="header-modal-link" href="#about">About us</a>
        </li>
        <li class="modal-list">
          <a class="header-modal-link" href="#how"> How it's made? </a>
        </li>
        <li class="modal-list">
          <a class="header-modal-link" href="#products">Our products </a>
        </li>
        <li class="modal-list">
          <a class="header-modal-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>

    <div class="modal modal-buy-now-headder" data-modal="4">
      <svg
        class="modal__cross js-modal-close"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
        />
      </svg>
      <form class="form-modal">
        <p class="modal__title modal-headder-title">Leave your contacts</p>
        <div class="headder-modal-contacts">
          <label class="label-item">
            <span class="label-name">Name</span>
            <input class="headder-input-name" type="text" />
          </label>
          <label class="label-item">
            <span class="label-name"> Phone number</span>
            <input class="headder-input-name" type="text" />
          </label>
          <label class="label-item">
            <span class="label-name"> Comment</span>
            <textarea
              class="label-comment"
              name=""
              id=""
              placeholder="Add your comment"
            ></textarea>
          </label>
        </div>
      </form>
    </div>
  </div>
</section>
