<section class="products">
  <div class="products__container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products-item">
        <div class="pink-thumb">
          <h3 class="products-item__title">ice cream</h3>
          <p class="products-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="products-btn">
            <svg class="products-btn__icon" width="12" height="12">
              <use href="./images/sprite.svg#icon-arrow-right2"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-item">
        <div class="beige-thumb">
          <h3 class="products-item__title">ice cream</h3>
          <p class="products-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="products-btn">
            <svg class="products-btn__icon" width="12" height="12">
              <use href="./images/sprite.svg#icon-arrow-right2"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-item">
        <div class="choco-thumb">
          <h3 class="products-item__title">ice cream</h3>
          <p class="products-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="products-btn">
            <svg class="products-btn__icon" width="12" height="12">
              <use href="./images/sprite.svg#icon-arrow-right2"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
