<section class="products">
  <div class="container">
    <p class="lable">100% natural</p>
    <h2 class="section-title">products</h2>
    <ul class="products-list list">
      <li class="products-item">
        <img
          src="#"
          alt="pink icecream"
          class="products-item__img"
          width="280"
        />
        <h3 class="products-title">ice cream</h3>
        <p class="products-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products-btn">
          <svg class="products-btn__icon" width="20" height="20">
            <use href="./images/sprite.svg#icon-arrow-right2"></use>
          </svg>
        </button>
      </li>
      <li class="products-item">
        <img
          src="#"
          alt="beige icecream"
          class="products-item__img"
          width="280"
        />
        <h3 class="products-title">ice cream</h3>
        <p class="products-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products-btn">
          <svg class="products-btn__icon" width="20" height="20">
            <use href="./images/sprite.svg#icon-arrow-right2"></use>
          </svg>
        </button>
      </li>
      <li class="products-item">
        <img
          src="#"
          alt="choco icecream"
          class="products-item__img"
          width="280"
        />
        <h3 class="products-title">ice cream</h3>
        <p class="products-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products-btn">
          <svg class="products-btn__icon" width="20" height="20">
            <use href="./images/sprite.svg#icon-arrow-right2"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
