<section class="products">
  <div class="products__container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products-item products-item--pink">
  
            <h3 class="products-item__title">ice cream</h3>
				<p class="products-item__text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. <span>dolore magna aliqua facilisis.</span>
				</p>
					<div class="products-item__animation">
						<p class="products-item__text--animation">dolore magna aliqua facilisis. Ice cream is a frozen dairy dessert obtained by freezing the ice cream mix with continuous agitation. </p>
					</div>

				<button type="button" class="products-btn">
					<svg class="products-btn__icon" width="12" height="12">
					  <use href="./images/sprite.svg#icon-arrow-right2"></use>
					</svg>
					
				 </button>	 
          
      </li>
      <li class="products-item products-item--beige">
  
			<h3 class="products-item__title">ice coffee</h3>
			<p class="products-item__text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. <span>dolore magna aliqua facilisis.</span>
			</p>
				<div class="products-item__animation">
					<p class="products-item__text--animation">dolore magna aliqua facilisis. Ice cream is a frozen dairy dessert obtained by freezing the ice cream mix with continuous agitation. </p>
				</div>

			<button type="button" class="products-btn">
				<svg class="products-btn__icon" width="12" height="12">
				  <use href="./images/sprite.svg#icon-arrow-right2"></use>
				</svg>
				
			 </button>	 
		 
	</li>
	<li class="products-item products-item--green">
  
		<h3 class="products-item__title">milkshakes</h3>
		<p class="products-item__text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. <span>dolore magna aliqua facilisis.</span>
		</p>
			<div class="products-item__animation">
				<p class="products-item__text--animation">dolore magna aliqua facilisis. Ice cream is a frozen dairy dessert obtained by freezing the ice cream mix with continuous agitation. </p>
			</div>

		<button type="button" class="products-btn">
			<svg class="products-btn__icon" width="12" height="12">
			  <use href="./images/sprite.svg#icon-arrow-right2"></use>
			</svg>
			
		 </button>	 
	 
</li>
    </ul>

</section>

