.reviews-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.reviews-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  min-width: 0;
}
.reviews__img {
  margin-bottom: 16px;
}
.reviews__box {
  width: 100%;
  padding: 43px 50px 17px;
  margin-bottom: 36px;
  background-color: #fafafa;
}
.reviews__text {
  padding-left: 10px;
  padding-right: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;

  background-image: repeating-linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0) 29px,
    #e1e1e1 29px,
    #e1e1e1 30px
  );
}
.reviews__text-span {
  position: relative;
  &::before {
    content: '';
    width: 54px;
    height: 40px;
    display: inline-block;
    background-image: url(../images/Q.svg);
    position: absolute;
    top: -22px;
    left: -51px;
  }
}

.reviews-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: -43%;
    left: 50%;
    transform: translate(-50%);
    display: inline-block;
    width: 32px;
    height: 4px;
    background-image: url(../images/Ellipse\ 6.svg);
    background-color: white;
  }
}
