.header-hero {
  // min-width: 320px;
  min-width: 320px;
  background-color: var(--hero-bg-color);
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $desktop) {
    max-width: 1600px;
  }
}

.container__header-hero {
  @extend .container;
  padding-left: 20px;
  padding-right: 20px;
  // background-color: var(--hero-bg-color);
  height: 502px;
  position: relative;
  max-width: 480px;

  @media screen and (min-width: $tablet) {
    max-width: 768px;
    height: 416px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: $desktop) {
    min-height: 664px;
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.container__header {
  @media screen and (max-width: 767px) {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 32px;
    display: flex;
    align-items: center;
  }
}

.header-logo {
  padding: 0;
}

.header-logo__icon {
  display: inline-block;
  width: 199px;
  height: 50px;
}

.nav {
  display: flex;
}

.nav-btn {
  display: flex;
  align-items: center;
}

.nav__menu {
  display: none;

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    // position: relative;
    z-index: 6;
  }
}

.nav__list {
  margin-left: 128px;
  display: flex;
  transition-property: color;
  transition-duration: var(--btn-trans-duration);
  transition-timing-function: var(--btn-trans-timing);
  justify-content: center;
  align-items: center;
  z-index: 6;

  & .nav__item + .nav__item {
    margin-left: 35px;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and(max-width: 1199px) {
    display: none;
  }
}

.nav__link {
  // display: block;
  color: var(--white-bg-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: var(--btn-trans-duration);
  transition-timing-function: var(--btn-trans-timing);

  &:hover,
  & :focus {
    color: var(--accent-color);
  }
}

.hero-btn__menu {
  z-index: 50;
  display: inline-flex;
  width: 20px;
  height: 12px;
  background-color: transparent;

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.hero-btn__svg {
  fill: var(--accent-color);
}

.hero__btn-svg {
  display: flex;
  margin-left: auto;
  fill: var(--accent-color);
  // width: 6px;
  height: 10px;
  margin-top: 6px;
}

.hero-lable {
  width: auto;
  position: absolute;
  top: 194px;
  left: 20px;
  z-index: 2;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    left: 32px;
    top: 102px;
  }

  @media screen and (min-width: $desktop) {
    top: 147px;
  }
}

// .hero-lable__pre {
//   margin: 0;
// }

.hero-lable__title {
  margin: 0;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: var(--white-bg-color);

  @media screen and (min-width: $tablet) {
    font-size: 22px;
    line-height: 1.145;
  }

  @media screen and (min-width: $desktop) {
    font-size: 38px;
    line-height: 1.145;
  }

  text-transform: uppercase;
}

.hero-lable__title-text {
  margin: 0;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  width: 218px;

  color: var(--white-bg-color);

  @media screen and (min-width: $tablet) {
    font-size: 22px;
    line-height: 1.145;
    width: 162px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 38px;
    line-height: 1.145;
    width: 277px;
  }
}

.hero-lable__title-accent {
  margin: 0;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.03;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
    font-size: 37px;
    line-height: 1.145;
  }

  @media screen and (min-width: $desktop) {
    font-size: 58px;
    line-height: 1.145;
  }
}

.hero__list {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 94px;
    right: 42px;
    z-index: 6;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 156px;
    right: 34px;
    z-index: 6;
  }
}

.hero__item-cafes {
  display: none;
  margin-bottom: 18px;

  @media screen and (min-width: $tablet) {
    display: block;
  }

  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.hero__item-number {
  margin-left: auto;
  justify-content: flex-end;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);

  @media screen and (min-width: $tablet) {
    font-size: 28px;
    line-height: 1.14;
    width: 36px;
    height: 32px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 46px;
    line-height: 1.15;
    width: 59px;
    height: 53px;
  }
}

.hero__circle-cafes {
  display: none;
  fill: var(--text-white-color);
  position: absolute;
  z-index: 2;

  @media screen and (min-width: $tablet) {
    display: flex;
    width: 16px;
    height: 16px;
    top: 109px;
    right: 32px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    width: 30px;
    height: 30px;
    top: 168px;
    right: 19px;
  }
}

.hero__circle-trucks {
  display: none;
  fill: var(--text-white-color);
  position: absolute;

  z-index: 2;

  @media screen and (min-width: $tablet) {
    display: flex;
    width: 16px;
    height: 16px;
    top: 168px;
    right: 32px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    width: 30px;
    height: 30px;
    top: 254px;
    right: 19px;
  }
}

.hero__item-text {
  justify-content: flex-end;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  text-align: right;
  display: none;
  color: var(--text-white-color);

  @media screen and (min-width: $tablet) {
    height: 10px;
    display: flex;
    font-size: 8px;
    line-height: 1.25;
  }

  @media screen and (min-width: $desktop) {
    height: 18px;
    display: flex;
    font-size: 14px;
    line-height: 1.28;
  }
}

.hero-btn__list {
  @extend .list;
  display: flex;
  list-style: none;
  position: absolute;
  top: 320px;
  z-index: 2;

  @media screen and (min-width: $tablet) {
    top: 202px;
  }

  @media screen and (min-width: $desktop) {
    top: 308px;
  }
}

.hero-btn__item + .hero-btn__item {
  margin-left: 8px;

  @media screen and (min-width: $desktop) {
    margin-left: 12px;
  }
}

.nav-btn {
  display: flex;
  margin-left: auto;

  @media screen and(min-width:$tablet) {
    margin-left: 290px;
    display: flex;
  }

  @media screen and(min-width:$desktop) {
    margin-left: auto;
    display: flex;
  }
}

.nav-btn-hero {
  display: inline-block;
  margin-left: auto;
  top: 0px;
  right: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
}

.hero__btn {
  @extend button;
  padding: 7px 23px;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  border-radius: 20px;
  border: none;
  left: auto;
  right: auto;
  transition-property: color, background-color;
  transition-duration: var(--btn-trans-duration);
  transition-timing-function: var(--btn-trans-timing);

  @media screen and (min-width: $tablet) {
    height: 40px;
    padding: 7px 23px;
  }

  @media screen and (min-width: $desktop) {
    // padding: 0px 37px;
    height: 40px;
    font-size: 14px;
    line-height: 1.28;
    padding: 11px 23px;
  }
}

.nav-btn__buy {
  @extend button;
  padding: 0px 36px;
  display: none;
  width: 160px;
  height: 44px;
  font-weight: 700;
  border-radius: 20px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  padding-top: 12px;
  left: auto;
  right: auto;
  transition-property: color, background-color;
  transition-duration: var(--btn-trans-duration);
  transition-timing-function: var(--btn-trans-timing);

  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: 32px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 12px;
    margin-left: 120px;
    display: flex;
  }
}

.hero-btn__height {
  @extend button;
  height: 24px;

  @media screen and (min-width: $desktop) {
    height: 40px;
  }
}

.dark-btn {
  background: var(--accent-color);
  color: var(--text-white-color);

  &:hover,
  &:focus {
    background: var(--button-hover-color);
    color: var(--accent-color);
  }
}

.light-btn {
  background: var(--white-bg-color);
  color: var(--accent-color);

  &:hover,
  &:focus {
    background: var(--button-hover-color);
    color: var(--accent-color);
  }
}

.hero__about {
  // display: none;

  @media screen and (min-width: $tablet) {
    // display: flex;
  }

  @media screen and (min-width: $desktop) {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    display: block;
  }
}

.hero__about-text {
  display: none;
  position: absolute;
  z-index: 4;
  font-weight: 400;
  color: var(--text-white-color);

  @media screen and (min-width: $tablet) {
    bottom: 81px;
    left: 170px;
    display: flex;
    width: 130px;
    height: 48px;
    font-size: 8px;
    line-height: 1.5;
  }

  @media screen and (min-width: $desktop) {
    bottom: 130px;
    left: 269px;
    display: flex;
    width: 200px;
    height: 78px;
    font-size: 14px;
    line-height: 1.4;
  }
}

.hero__about-text-animation {
	display: none;
}

.hero__about.is-hidden .hero__about-text-animation.is-hidden {
	@media screen and (min-width: $tablet) {
		display: block;
	 }
}

.text-animation {
	@extend .hero__about-text;
	height: 18px;

	@media screen and (min-width: $tablet) {
		bottom: 63px;
		}

		@media screen and (min-width: $desktop) {
			height: 36px;
			bottom: 74px;
		}
}

.hero__about-btn {
  display: none;
  position: absolute;
  bottom: 0;
  background-color: var(--white-bg-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color var(--btn-trans-timing) var(--btn-trans-duration);

  @media screen and (min-width: $tablet) {
    display: flex;
    width: 18px;
    height: 18px;
    top: 340px;
    left: 170px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    width: 26px;
    height: 26px;
    top: 544px;
    left: 269px;
  }

  &:hover,
  &:focus {
	background-color: var(--button-hover-color);
  }
}

.hero__about.is-hidden .hero__about-btn {
	transition: background-color var(--btn-trans-timing) var(--btn-trans-duration);

	&:hover,
	&:focus {
	 background-color: var(--button-hover-color);
	}

	@media screen and (min-width: $tablet) {
		top: 355px;
	 }
  
	 @media screen and (min-width: $desktop) {
		top: 600px;
	 }

	

}

.hero__about-svg {
  display: inline-block;
  fill: var(--accent-color);

  @media screen and (min-width: $tablet) {
    width: 8px;
    height: 6px;
    margin-top: 5px;
    margin-left: 4px;
  }

  @media screen and (min-width: $desktop) {
    width: 10px;
    height: 8px;
    margin-top: 8px;
    margin-left: 7px;
  }
}

.hero__milk {
  display: none;

  @media screen and (min-width: $tablet) {
    width: 152px;
    height: 154px;
    display: flex;
    position: absolute;
    bottom: 16px;
    left: 32px;
  }

  @media screen and (min-width: $desktop) {
    width: 213px;
    height: 216px;
    display: flex;
    position: absolute;
    bottom: 60px;
    left: 56px;
  }
}

.hero__ice-cream {
  position: absolute;
  bottom: -6px;
  width: 171px;
  height: 410px;
  right: 12px;

  @media screen and (min-width: $tablet) {
    width: 143px;
    height: 336px;
    bottom: 0;
    left: auto;
    right: 303px;
  }

  @media screen and (min-width: $desktop) {
    width: 236px;
    height: 557px;
    bottom: 0;
    left: auto;
    right: 368px;
  }
}

.hero__ice-bg {
  width: 284px;
  height: 344px;
  position: absolute;
  bottom: 75px;
  right: 0;

  @media screen and (min-width: $tablet) {
    width: 335px;
    height: 333px;
    bottom: 40px;
    right: 185px;
    // left: auto;
  }

  @media screen and (min-width: $desktop) {
    width: 534px;
    height: 534px;
    bottom: 76px;
    right: 189px;
    // left: auto;
  }
}

.hero__girl {
  display: none;
  bottom: 0;

  @media screen and (min-width: $tablet) {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 32px;
    left: auto;
    width: 190px;
    height: 150px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 56px;
    left: auto;
    width: 304px;
    height: 241px;
  }
}

// Modal

.backdrop {
  position: absolute;
  top: 0;
  z-index: 90;

  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: #e17992;

  transform: translate(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 767px) {
    width: 254px;
    right: 0;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    max-width: 40%;
    left: auto;
    right: 0;
    transform: translate(100%);
  }
}

.backdrop.is-open {
  transform: translate(0%);
  @media screen and (min-width: $tablet) {
    max-width: 40%;
    left: auto;
    right: 0;
    transform: translate(0%);
  }
}

.is-open {
  display: block;
}

.modal-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.modal-btn-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white-bg-color);
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--accent-color);
  width: 209px;
  height: 44px;
  @media screen and (min-width: $tablet) {
    display: none;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.modal-btn-close {
  position: absolute;
  top: -40;
  right: 35;
  background-color: transparent;
  color: var(--text-white-color);
  border-radius: 50%;
}

.modal-btn-close-icon {
  width: 14px;
  height: 14px;
  fill: var(--reviews-bg-color);
  transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  &:hover,
  :focus {
    fill: var(--accent-color);
  }
}

.modal-btn-buy-icon {
  width: 6px;
  height: 8px;
  margin-left: 16px;
  fill: var(--accent-color);
  top: 0;
  right: 0;
}

.header-modal-list {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e18298;
  list-style: none;
  padding-left: 0;
}

.header-modal-link {
  text-decoration: none;
  width: 100%;
  height: 42px;
  border-top: 1px solid #e18298;
  padding-left: 20px;
  font-size: 14px;
  line-height: 1.29;
  cursor: pointer;
  color: #fff;
  align-items: center;
  font-weight: 700;
  transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
}

.header-modal-link:focus,
.header-modal-link:hover {
  color: var(--accent-color);
}

// Modal-header-buy-now_________________________________________________________

.modal-buy-now-header {
  box-shadow: 8px 8px 6px 2px rgba(0, 0, 0, 0.3);
  z-index: 95;
  border-radius: 25px;
  background-color: var(--products-pink-bg);
  width: 95vw;
  max-height: 95vh;
  height: auto;
  padding-top: 40px;
  padding-right: 25px;
  padding-bottom: 40px;
  padding-left: 25px;
  overflow-y: auto;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 10px;
  line-height: 1.62;
  @media screen and (min-width: $tablet) {
    max-width: 400px;
    font-size: 12px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: $desktop) {
    line-height: 1.94;
  }
}
.modal-header-title {
  margin-bottom: 10px;
  text-align: center;
  font-family: var(--second-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
  @media screen and (min-width: $tablet) {
    font-size: 20px;
  }
  @media screen and (min-width: $desktop) {
    line-height: 1.14;
  }
}
.modal-header-subtitle {
  margin-bottom: 10px;
  text-align: center;
  font-family: var(--second-text);
  font-weight: 400;
  font-size: 10px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--mobile-menu-color);
  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
  @media screen and (min-width: $desktop) {
    line-height: 1.14;
  }
}
.form-fields-set {
  display: flex;
  flex-direction: column;
}
.label-item {
  width: 100%;
  flex-direction: column;
  display: flex;
  position: relative;
  align-items: flex-start;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.label-name {
  padding-left: 20px;
  letter-spacing: 0.04em;
  color: var(--accent-color);
}
.input-wrap {
  position: relative;
}
.header-input-name {
  width: 100%;
  height: 40px;
  border-radius: 22px;
  border: 1px solid var(--accent-color);
  padding-left: 35px;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 10px;
  line-height: 1.62;
  color: var(--accent-color);
  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: $desktop) {
    line-height: 1.94;
  }
}
.header-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: currentColor;
  transition: fill var(--btn-trans-duration) var(--btn-trans-timing);
  .label-item:hover &,
  .label-item:focus &,
  .label-item:focus-within & {
    fill: var(--accent-color);
  }
}
.label-comment {
  width: 100%;
  height: 100px;
  padding: 12px 16px;
  border: 1px solid var(--accent-color);
  border-radius: 22px;
  resize: none;
  margin-bottom: 15px;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 10px;
  line-height: 1.62;
  color: var(--accent-color);
  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: $desktop) {
    line-height: 1.94;
  }
  &::placeholder {
    font: inherit;
    color: var(--text-grey-color);
  }
}
.modal-buy-now-btn {
  @include flexCentered;
}
.header-modal-submit-btn {
  width: 100px;
  height: 50px;
  text-align: center;
  color: var(--accent-color);
  background-color: var(--button-hover-color);
  justify-content: center;
  align-items: center;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.31;
  display: flex;
  border-radius: 20px;
  transition: color var(--btn-trans-duration) var(--btn-trans-timing),
    background-color var(--btn-trans-duration) var(--btn-trans-timing);
  &:hover,
  :focus {
    color: var(--text-white-color);
    background-color: var(--accent-color);
  }
}
