.header-hero {

    background-color: var(--hero-bg-color);
    height: 502px;
    position: relative;
    max-width: 1280px;

    @media screen and (min-width: $tablet) {
        height: 431px;

    }

    @media screen and (min-width: $desktop) {
        min-height: 664px;
    }
}

.nav {
    display: none;

    @media screen and (min-width: $tablet) {
        display: flex;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
    }

}

.container-hero {
    @extend .container;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

}

.hero-info {

    display: flex;
}

.hero-lable {
    width: auto;
    // padding-left: 20px;
    position: absolute;
    top: 194px;
    left: 20px;
    z-index: 2;

    @media screen and (min-width: $tablet) {
        top: 102px;
        left: 32px;
        z-index: 2;
    }

    @media screen and (min-width: $desktop) {
        top: 147px;
        left: 56px;
        z-index: 2;
    }
}

.hero-lable__pre {
    margin: 0;
}

.hero-lable__title {
    margin: 0;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: calc(29.77 / 26);
    letter-spacing: 0.04em;
    color: var(--white-bg-color);

    @media screen and (min-width: $tablet) {
        font-size: 22px;
        line-height: 1.145;
    }

    @media screen and (min-width: $desktop) {
        font-size: 38px;
        line-height: 1.145;
    }

    text-transform: uppercase;
}

.hero-lable__title-text {
    margin: 0;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: calc(29.77 / 26);
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--white-bg-color);

    @media screen and (min-width: $tablet) {
        font-size: 22px;
        line-height: 1.145;
    }

    @media screen and (min-width: $desktop) {
        font-size: 38px;
        line-height: 1.145;
    }

}

.hero-lable__title-accent {
    margin: 0;
    // @include flexCentered;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: calc(48 / 46.32);
    letter-spacing: 0.04em;
    color: var(--accent-color);
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
        font-size: 37px;
        line-height: 1.145;
    }

    @media screen and (min-width: $desktop) {
        font-size: 58px;
        line-height: 1.145;
    }
}

.hero__list {
    display: none;
    list-style: none;

    @media screen and (min-width: $tablet) {
        display: flex;
    }
}

.hero-btn__list {
    display: flex;
    list-style: none;
    position: absolute;
    top: 320px;
    left: -30px;
    z-index: 2;

    @media screen and (min-width: $tablet) {
        top: 202px;
        left: 0px;
        // z-index: 3;
    }

    @media screen and (min-width: $desktop) {
        top: 308px;
        left: 0px;
        // z-index: 3;
    }
}

.hero-btn__item {
    margin-left: 8px;
    // justify-content: center;
    // align-items: center;
    // display: flex;

    @media screen and (min-width: $desktop) {
        margin-left: 12px;
    }
}

.hero__btn-products {

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: calc(10 / 8);
    // display: flex;
    // align-items: center;
    // text-align: center;


    background: #D41443;
    border-radius: 20px;
    border: none;

    color: #FFFFFF;
    width: 61.2px;
    height: 24px;

    @media screen and (min-width: $tablet) {
        // display: flex;
        // align-items: center;
        // text-align: center;
        width: 61.2px;
        height: 24px;
    }

    @media screen and (min-width: $desktop) {
        left: auto;
        right: auto;
        width: 107px;
        height: 40px;
        font-size: 14px;
        line-height: calc(18 / 14);
    }
}

.hero__btn-process {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: calc(10 / 8);
    // display: flex;
    // align-items: center;
    // text-align: center;

    color: #D41443;

    background: #FFFFFF;
    border-radius: 20px;
    border: none;
    width: 82.8px;
    height: 24px;

    @media screen and (min-width: $tablet) {
        width: 82.8px;
        height: 24px;
    }

    @media screen and (min-width: $desktop) {
        width: 138px;
        height: 40px;
        font-size: 14px;
        line-height: calc(18 / 14);
    }
}

.hero__about {
    display: none;


    @media screen and (min-width: $tablet) {
        display: flex;

    }

    @media screen and (min-width: $desktop) {
        display: flex;
    }
}

.hero__about-text {
    display: none;


    @media screen and (min-width: $tablet) {
        position: absolute;
        bottom: 81px;
        left: 184px;
        display: flex;
        width: 114px;
        height: 48px;
        z-index: 4;
        font-weight: 400;
        font-size: 8px;
        line-height: 1.5;

    }

    @media screen and (min-width: $desktop) {
        position: absolute;
        bottom: 130px;
        left: 269px;
        display: flex;
        width: 200px;
        height: 78px;
        z-index: 4;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4;
    }
}

.hero__about-btn {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 229px;
    top: 554px;
    background: url(./images/sprite.svg#icon-circle);
}

.hero__milk {
    display: none;

    @media screen and (min-width: $tablet) {
        display: flex;
        position: absolute;
        bottom: 16px;
        left: 38px;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        position: absolute;
        bottom: 60px;
        left: 56px;

    }
}

.hero__ice-cream {
    position: absolute;
    bottom: 0;
    width: 171px;
    height: 410px;
    left: 117px;

    @media screen and (min-width: $tablet) {
        width: 143px;
        height: 336px;
        bottom: 0;
        left: auto;
        right: 303px;
    }

    @media screen and (min-width: $desktop) {
        width: 236px;
        height: 557px;
        bottom: 0;
        left: auto;
        right: 368px;
    }
}

.hero__ice-bg {
    // width: 346px;
    height: 344px;
    position: absolute;
    bottom: 75px;
    left: 36px;


    @media screen and (min-width: $tablet) {
        width: 335px;
        height: 333px;
        bottop: 40px;
        right: 185px;
        left: auto;
    }

    @media screen and (min-width: $desktop) {
        width: 534px;
        height: 534px;
        bottop: 76px;
        right: 189px;
        left: auto;
    }
}

.hero__girl {
    display: none;
    bottom: 0;

    @media screen and (min-width: $tablet) {
        display: flex;
        position: absolute;
        bottom: 0;
        right: 32px;
        left: auto;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        position: absolute;
        bottom: 0;
        right: 56px;
        left: auto;
    }
}